 <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
    <a class="navbar-brand" >Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="card">Cards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="table">Table</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="list">Lists</a>
        </li>
        
      </ul>
      
        <div class="dropdown ">

          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
             Jithin
          </button>

          <ul class="dropdown-menu ">
            <li><a class="dropdown-item me-4" href="/logout">Logout</a></li>
          </ul>
        </div>
        
    </div>
  </div>
</nav>
<div class="img">
            <img src="https://www.etsy.com/img/16391589/r/il/308c46/1365473740/il_fullxfull.1365473740_d8ez.jpg" style="width:100vw;">
 </div>