<div class="wrapper ">
  <div id="formContent">
    
    <form action="home" method="Post">
      <h1 style="margin-top:30px;">Log in</h1>
      <input type="text" id="login" class="" name="username" placeholder="Username"><br>
      <input type="text" id="password" class="" name="password1" placeholder="password">

      {{#if error}}
       <p class="text-danger">Invalid password or username</p>
      {{/if}}
      <input type="submit" class="" value="Log In">
      
    </form>

    

  </div>
</div>

  
</form>