<div class="container">
<div class="list-group mt-5">
  <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
    Players
  </button>
  {{#each players}}
  <button type="button" class="list-group-item list-group-item-action">{{this}}</button>
  {{/each}}
</div>
</div>